.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  text-align: center;
  line-height: 100px;
  border: 1px solid #000;
  background-color: #f9f9f9;
  cursor: pointer;
}

.turn {
  font-size: 24px;
  margin-bottom: 10px;
}

.reset-button {
  margin-top: 1rem;
  padding: 1em 2.5em;
  border-radius: 6px;
  border: none;
  background-color: #0069ed;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.winner {
  font-size: 18px;
  padding-top: 1rem;
}